.animate-box {
  position: relative;
  padding: 0 2rem 2rem 0;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 900;
}

.text-box {
  top: 20%;
  left: 5%;
  line-height: 7vw;
  position: absolute;
  z-index: 4;
}

.numbers {
  display: block;
  font-size: 22vw;
  line-height: 17vw;
  letter-spacing: -0.2rem;
}

.text {
  display: block;
  font-size: 7vw;
  width: 40%;
}

@keyframes reveal {
  0% {
    transform: scaleY(0);
  }
  100% {
    transform: scaleY(1);
  }
}

path {
  transform-origin: bottom;
  animation: reveal 1s ease forwards;
  opacity: 0;
  fill: #ffc102;
  transition: fill 0.5s ease;
}

.completed {
  fill: #ededed;
}
