.animate-box {
  position: relative;
  padding: 0 2rem 2rem 2rem;
}

.container {
  position: relative;
  width: 100%;
}

body {
  font-family: "Overpass", sans-serif;
  font-weight: 900;
}

.text-box {
  top: 20%;
  left: 5%;
  line-height: 7vw;
  position: absolute;
  z-index: 4;
}

.percentage {
  display: block;
  font-size: 22vw;
  line-height: 17vw;
  letter-spacing: -0.2rem;
}

.text {
  display: block;
  font-size: 7vw;
  width: 40%;
}

footer {
  height: 200px;
}

.circle {
  stroke: #ededed;
  stroke-width: 16.8%;
  z-index: 1;
}

.pie {
  z-index: 2;
  stroke: #e20d1a;
  stroke-width: 85%;
  stroke-dasharray: 0 190;
  animation: dash-animation 2s ease-in forwards;
}

.mask-box {
  z-index: 3;

  position: absolute;
  width: 100%;
}

.mask {
  width: 100%;
  position: absolute;
  z-index: 3;
  fill: white;
}

:root {
  --my-end-width: 190;
}

@keyframes dash-animation {
  to {
    stroke-dasharray: var(--end-value) 190;
  }
}
